@import '../fonts/fonts.css';

:root {
	--white: #FFFFFF;
	--dark-gunmetal: #212529;
	--font-100: 'Montserrat 100';
	--font-300: 'Montserrat 300';
}

/* specification */
*,
*::after,
*::before {
	box-sizing: border-box
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-300);
	font-weight: 300;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: normal;
	color: var(--white);
	background-color: var(--dark-gunmetal);
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	vertical-align: top;
}

fieldset {
	padding: 0;
  margin: 0;
  border: none;
}

pre {
	margin: 0;
	padding-left: 2ch;
	font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
	font-size: 17px;
	tab-size: 2;
	white-space: normal;
	transition: tab-size 0.2s;
}

pre code {
	display: list-item;
	counter-increment: pre;
	white-space: pre-wrap;

}

pre code::marker {
	color: darkgray;
	content: counter(pre, decimal-leading-zero);
}

h1 {
	font-family: var(--font-300);
	font-weight: 300;
	font-size: 40px;
}

h2 {
	max-width: 290px;
	margin-bottom: 35px;
	font-family: var(--font-300);
	font-weight: 300;
	font-size: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.30);
}

/* header */
.header {
	padding-top: 100px;
}

.header .container {
	display: flex;
	justify-content: space-between;
}

.header-info {
	display: flex;
	align-items: center;
}

.header-info__subtitle {
	font-family: var(--font-100);
	font-weight: 100;
	margin: 25px 0;
}

.header-img {
	width: 215px;
	height: 215px;
	margin-right: 40px;
	overflow: hidden;
	border-radius: 50%;
	object-fit: cover;
}

.header-social {
	display: flex;
	align-items: center;
}

.header-social__item {
	margin-right: 20px;
}

.header-social__img {
	width: 40px;
	height: 40px;
	transition: all 3s ease;
}

.header-social__img:hover {
	animation: iconAnim 0.3s both;
}

@keyframes iconAnim {
	0% {transform: scale(1);}
	50% {transform: scale(1.4);}
	100% {transform: scale(1.2);}
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 350px;
}

.nav-list__item {
	width: 33.33%;
	margin-bottom: 30px;
}

.nav-list__link {
	font-size: 18px;
	color: var(--white);
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease;
	position: relative;
}

.nav-list__link:before {
	content: '';
	position: absolute;
	height: 1px;
	width: 0;
	right: 0;
	bottom: 0;
	background-color: var(--white);
	transition: all 0.3s ease;
}

.nav-list__link:hover:before {
	width: 100%;
}



/* Skills */
.wrapper {
	padding-top: 90px;
}

.wrapper .container {
	display: flex;
}

.skills {
	width: 50%;
}

.skills-list {
}

.skills-list__rating {
	display: flex;
	justify-content: space-between;
	max-width: 250px;
	width: 100%;
}

.skills-list__rating:not(:last-child) {
	margin-bottom: 10px;
}

.skills-list__title {}

.skills-list__group {
	display: flex;
	align-items: center;
}

.skills-list__icon {
	width: 20px;
	height: 20px;
}

.skills-list__icon:not(:last-child) {
	margin-right: 5px;
}


/* About */
.about {
	padding-top: 90px;
}

.about-subtitle {
	line-height: 156.9%;
	letter-spacing: 0.5px;
}
